In [2]:
num = 100
type(num)
id(num)

1893628064

In [3]:
first_name = "kunal"
print(firstname)

kunal

In [4]:
firstName = "kunal"
print(firstName)

kunal

In [5]:
FIRST_NAME = "KUNAL"
print(FIRST_NAME)

KUNAL

In [ ]:
EMAIL = "hello@edyoda.com"

In [1]:
_num = 100
print(_num)

100

In [ ]:
immutable
 - int,float,str,tuple
    
mutable
- list

In [2]:
l = [1,2,3]
print(id(l))
l.append(4)
print(id(l))

1583841549128
1583841549128

In [ ]:
int 
float 
str
list []
tuple () 
dict {"IN":"India","AUS":"Australia"} 
set {}
bool True False

In [4]:
d = {1:1,2:4,3:9,4:16}
type(d)

dict

In [5]:
s = {10,20,30,30,30,30}
print(s)

{10, 20, 30}

In [ ]:
Operators:
    1. Arth operators : +,-,*,/,// - floor div,** - power,% - mod
    2. Com operators : ==,!=,<,>,<=,>= => True/False
    3. Membership Operators: in not in
    4. Identity Operators is is not 
    5. Assignment Operator =,+=,-=,*=,/=,//=,%=
    6. Logical operator and or not

In [14]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)

3.3333333333333335
3
1
1000

In [17]:
s1 = "Python"
s2 = "Python"
print(s1 == s2)

True

In [19]:
l1 = [1,2,3]
l2 = (1,2,3)
print(l1 == l2)

False

In [28]:
l1 = [10,20]
l2 = [10,20,30]
print(l2 > l1)

True

In [29]:
s1 = "abcd"
s2 = "ABCD"
print(s1 > s2)

True

In [32]:
print(ord('a'),ord('A'))
print(chr(97),chr(65))

97 65
a A

In [ ]:
0 - 128 

a => 97
A => 65

In [ ]:
UTF-8 256 chars

In [34]:
num1 = 100
num2 = 200
print(num1 != num2)

True

In [37]:
dice = [1,2,3,4,5,6]
print(7 not in dice)

True

In [44]:
print("py" in "python")

True

In [50]:
print("Python" in ("C"))

False

In [48]:
print(500 in 500)

TypeError: argument of type 'int' is not iterable

In [ ]:
tuple
list
str
dict
set

In [52]:
d = {1:1,2:4,3:9,4:16}
print(3 in d)

True

In [55]:
num1 = 1000
num2 = 1000
print(num1 == num2)
print(num1 is num2)

True
False

In [58]:
l1 = [10,20,30]
print(id(l1))
l2 = [10,20,30]
print(id(l2))
print(l1 is l2)

1583843130440
1583842804040
False

In [ ]:
l1,l2 = 0440 [10,20,30]
l1.append(40)
print(l2)

In [60]:
l1 = [10,20,30]
print(id(l1))
l2 = l1
print(id(l2))
l1.append(40)
print(l2)

1583842953928
1583842953928
[10, 20, 30, 40]

In [65]:
num1 = 100
print(num1)
num1 = num1 + 1
print(num1)
num1 -= 1 #num1 = num1 - 1
print(num1)
num1 *= 5 #num1 = num1 * 5
print(num1)

100
101
100
500

In [70]:
s1 = "Python"
print(s1)
s1 += 2
print(s1)

Python

TypeError: must be str, not int

In [69]:
print("Python" + 3)

TypeError: must be str, not int

In [ ]:
And 
T T T
T F F
F T F
F F F


Or 
T T T
T F T
F T T
F F F

In [74]:
print(not("Python" == "Python" or "Java" == "java"))

False

In [ ]:
Conditional Statements:
if 
else
elif

In [90]:
marks = 10
total_marks = 500
per = (marks/total_marks)*100
if per >= 40:
    print("Pass")
    print("Well done")
elif 30 <= per <= 40:
    print("Promoted")
else:
    print("Fail")

Fail

In [ ]:
if [condition]:
    statement1
    statement2
    ...
elif [condition2]:
    statement3
    statement4
else:
    statement5
    statement6

In [ ]:
if 
    if
        if 
            if 
        else

In [ ]:
PEP 8 
    1. first_name
    2. Indent : 4 spaces
    3 operators space before and after an operator

In [ ]:
Take score as input for two teams and print which team won the match 
in case of tie take the input of superover score and then decide the winner

In [92]:
score_a = int(input("Enter the score of team A :"))
score_b = int(input("Enter the score of team B :"))

if score_a > score_b:
    print("Team A won the match")
elif score_b > score_a:
    print("Team B won the match")
else:
    super_score_a = int(input("Enter the super over score of team A :"))
    super_score_b = int(input("Enter the super over score of team B :"))
    
    if super_score_a > super_score_b:
        print("Team A won the match")
    else:
        print("Team B won the match")

Enter the score of team A :150
Enter the score of team B :150
Enter the super over score of team A :10
Enter the super over score of team B :1
Team A won the match
10

In [95]:
if "Python":
    print("A")
else:
    print("B")

A

In [ ]:
Zero 0."",[],(),{},None => False
Non Zero