In [8]:
print("""Hi""")

Hi

In [3]:
print(100)

100

In [4]:
print(10.55)

10.55

In [ ]:
int 10 15 25 500000000
float 10.255 45.555 
str 'python is easy to learn' " i dont want to learn java" """i can write anything  155555555"""

In [13]:
s = """this is kunals's 
session"""

In [ ]:
"he'l'lo"

In [19]:
num1 = 590
num2 = 1080
num3 = 1000
num4 = 850
result = num1 + num2 + num3
print(result)

2670

In [16]:
print(hi)

NameError: name 'hi' is not defined

In [21]:
num1 = 590
num2 = 1080
sum = num1 + num2
avg = sum  / 2
print(avg)

835.0

In [56]:
num1 = int(input("Enter number 1"))
num2 = int(input("Enter number 2"))
avg = (num1 + num2)/2
print(avg)

Enter number 1100
Enter number 2200
150.0

In [55]:
num1 = 100
print(num1,type(num1))
num1 = "Python"
print(num1,type(num1))

100 <class 'int'>
Python <class 'str'>

In [26]:
num1 = '100'
print(type(num1))

<class 'str'>

In [27]:
first_name = "kunal"
print(type(first_name))

<class 'str'>

In [29]:
num1 = 100
print(id(num1))

1577351328

In [34]:
num1 = 257
print(id(num1))
num2 = 257
print(id(num2))

2297548499056
2297548500304

In [31]:
num1 = 1000
print(id(num1))
num2 = 1000
print(id(num2))

2297548498032
2297548500304

In [ ]:
0 - 256

In [36]:
s1 = 'python'
s2 = 'python'
print(id(s1),id(s2))

2297524065200 2297524065200

In [ ]:
Mutable and immutable

In [38]:
num1 = 100
print(num1,id(num1))
num1 = 150
print(num1,id(num1))

100 1577351328
150 1577352928

In [ ]:
      100 ...328
num1  150 ...928

In [ ]:
n1 = 1
n1 = 2

   1  ...505
n1 2  ...510

In [ ]:
immutable : if you are not able to add/update/delete the value at same mem location

In [40]:
num1 = 850
print(id(num1))
num1 = 1000
print(id(num1))

2297548498288
2297548500624

In [ ]:
850   99888
num1 1000  99777

In [41]:
s1 = "python"
print(id(s1))

s1 = "Java"
print(id(s1))

2297524065200
2297516685944

In [42]:
s1 = "a"
print(id(s1))
s2 = "a"
print(id(s2))

2297508789752
2297508789752

In [46]:
l = [10,20,30,40,50]
print(type(l))
print(id(l))

l.append(60)
print(id(l))

print(l)

<class 'list'>
2297550074952
2297550074952
[10, 20, 30, 40, 50, 60]

In [ ]:
Mutable : AT same mem i will be able to perform add/update/del operation 
Immutable : At same mem location you can not perform add/update/delete

In [51]:
s1 = float('100')
print(type(s1))
s2 = float('200')
print(type(s1))
print(s1 + s2)

<class 'float'>
<class 'float'>
300.0

In [53]:
num1 = str(100)
print(type(num1))

<class 'str'>

In [54]:
num1 = input("Enter the number")
print(type(num1))

Enter the number100
<class 'str'>

In [57]:
num1,num2 = 100,200
print(num1,num2)

100 200

In [59]:
num1 = 100,200
print(num1,type(num1))

(100, 200) <class 'tuple'>

In [61]:
l = [10,20,30,40]
print(l,type(l))
t = (10,20,30,40)
print(t,type(t))

[10, 20, 30, 40] <class 'list'>
(10, 20, 30, 40) <class 'tuple'>

In [63]:
num1 = 100,200
print(num1)

(100, 200)

In [ ]:
int 10 : immutable 
str '' " " """ """ : immutable 
float 15.2555 : immutable 
list  [15,25,63] mutable 
tuple (15,25,63) : immutable

In [ ]:
type()
id()

num1 = 100
num2 = 100

mutable :

In [5]:
print("Hi")

Hi

In [4]:
print("Python")

Python